<header class="site-header">
  <div class="container">
    <h1 class="site-title"><a href="/blog/" class="white">Blog Lucre Mais</a></h1>
    <nav class="main-nav">
      <ul>
        <li><a href="/blog/" class="white">Início</a></li>
        <li><a href="/blog/posts.html" class="white">Posts</a></li>
        <li><a href="/lucremais" class="white" target="_blank">Grupo VIP</a></li>
        <li><a href="/blog/contato.html" class="white">Contato</a></li>
        <li><a href="/blog/sobre.html" class="white">Sobre</a></li>
      </ul>
    </nav>
  </div>
</header>
